DISCORD_TOKEN: ''
PREFIX: ''
STATUS: ''

DATABASE_PROVIDER: 'postgres'
DATABASE_HOST: 'localhost'
DATABASE_PORT: '5432'
DATABASE_USER: 'postgres'
DATABASE_PASS: 'pass'
DATABASE_NAME: 'svachan'

TWITTER_API_KEY: ''
TWITTER_API_SECRET: ''
TWITTER_CONSUMER_KEY: ''
TWITTER_CONSUMER_SECRET: ''

GOOGLE_AUTH_FILE: ''
GOOGLE_DEV_EMAIL: ''
GOOGLE_API_KEY: ''